--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: stocks_chatmessage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_chatmessage (
    id bigint NOT NULL,
    user_id character varying(100) NOT NULL,
    username character varying(100) NOT NULL,
    message text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    is_ai boolean NOT NULL
);


ALTER TABLE public.stocks_chatmessage OWNER TO postgres;

--
-- Name: stocks_chatmessage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_chatmessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_chatmessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_stock (
    id bigint NOT NULL,
    symbol character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    sector character varying(100),
    current_price numeric(10,2),
    change_percentage numeric(5,2),
    high_52w numeric(10,2),
    low_52w numeric(10,2),
    market_cap numeric(20,2),
    pe_ratio numeric(10,2),
    last_updated timestamp with time zone NOT NULL
);


ALTER TABLE public.stocks_stock OWNER TO postgres;

--
-- Name: stocks_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_stock ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_stock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_topsector; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_topsector (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    change_percentage numeric(5,2) NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    performance numeric(10,2) NOT NULL,
    stocks_count integer NOT NULL
);


ALTER TABLE public.stocks_topsector OWNER TO postgres;

--
-- Name: stocks_topsector_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_topsector ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_topsector_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_verified boolean NOT NULL,
    phone character varying(15),
    address text,
    bio text,
    profile_picture character varying(100)
);


ALTER TABLE public.stocks_user OWNER TO postgres;

--
-- Name: stocks_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.stocks_user_groups OWNER TO postgres;

--
-- Name: stocks_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.stocks_user_user_permissions OWNER TO postgres;

--
-- Name: stocks_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_watchlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_watchlist (
    id bigint NOT NULL,
    target_price numeric(10,2),
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    stock_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.stocks_watchlist OWNER TO postgres;

--
-- Name: stocks_watchlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_watchlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_watchlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	stocks	stock
7	stocks	topsector
8	stocks	user
9	stocks	watchlist
10	stocks	chatmessage
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stocks_chatmessage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stocks_chatmessage (id, user_id, username, message, "timestamp", is_ai) FROM stdin;
\.


--
-- Data for Name: stocks_stock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stocks_topsector; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stocks_topsector (id, name, change_percentage, last_updated, performance, stocks_count) FROM stdin;
27	Manufacturing	-4.12	2025-04-05 18:08:46.286063+05:30	-4.12	21
25	Energy	-3.97	2025-04-05 18:08:46.289265+05:30	-3.97	28
28	Healthcare	-3.22	2025-04-05 18:08:46.29097+05:30	-3.22	39
26	Information Technology	-2.77	2025-04-05 18:08:46.292611+05:30	-2.77	113
24	Other	-2.44	2025-04-05 18:08:46.294179+05:30	-2.44	1542
23	Utilities	-1.62	2025-04-05 18:08:46.295764+05:30	-1.62	33
22	Financial Services	-0.30	2025-04-05 18:08:46.297307+05:30	-0.30	91
\.


--
-- Data for Name: stocks_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stocks_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stocks_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: stocks_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stocks_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: stocks_watchlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stocks_watchlist (id, target_price, notes, created_at, updated_at, stock_id, user_id) FROM stdin;
4	\N		2025-04-04 13:43:43.081467+05:30	2025-04-04 13:43:43.081481+05:30	1648	1
5	\N		2025-04-04 13:44:17.76159+05:30	2025-04-04 13:44:17.761601+05:30	1795	1
6	\N		2025-04-04 13:44:56.431332+05:30	2025-04-04 13:44:56.431342+05:30	1666	1
8	\N		2025-04-04 20:10:02.251682+05:30	2025-04-04 20:10:02.251692+05:30	1661	2
9	\N		2025-04-04 20:10:12.630672+05:30	2025-04-04 20:10:12.630687+05:30	1646	2
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 40, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 10, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 23, true);


--
-- Name: stocks_chatmessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_chatmessage_id_seq', 1, false);


--
-- Name: stocks_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_stock_id_seq', 1867, true);


--
-- Name: stocks_topsector_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_topsector_id_seq', 28, true);


--
-- Name: stocks_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_user_groups_id_seq', 1, false);


--
-- Name: stocks_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_user_id_seq', 2, true);


--
-- Name: stocks_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_user_user_permissions_id_seq', 1, false);


--
-- Name: stocks_watchlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_watchlist_id_seq', 9, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: stocks_chatmessage stocks_chatmessage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_chatmessage
    ADD CONSTRAINT stocks_chatmessage_pkey PRIMARY KEY (id);


--
-- Name: stocks_stock stocks_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_stock
    ADD CONSTRAINT stocks_stock_pkey PRIMARY KEY (id);


--
-- Name: stocks_stock stocks_stock_symbol_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_stock
    ADD CONSTRAINT stocks_stock_symbol_key UNIQUE (symbol);


--
-- Name: stocks_topsector stocks_topsector_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_topsector
    ADD CONSTRAINT stocks_topsector_name_key UNIQUE (name);


--
-- Name: stocks_topsector stocks_topsector_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_topsector
    ADD CONSTRAINT stocks_topsector_pkey PRIMARY KEY (id);


--
-- Name: stocks_user stocks_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user
    ADD CONSTRAINT stocks_user_email_key UNIQUE (email);


--
-- Name: stocks_user_groups stocks_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user_groups
    ADD CONSTRAINT stocks_user_groups_pkey PRIMARY KEY (id);


--
-- Name: stocks_user_groups stocks_user_groups_user_id_group_id_cc7c81e8_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user_groups
    ADD CONSTRAINT stocks_user_groups_user_id_group_id_cc7c81e8_uniq UNIQUE (user_id, group_id);


--
-- Name: stocks_user stocks_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user
    ADD CONSTRAINT stocks_user_pkey PRIMARY KEY (id);


--
-- Name: stocks_user_user_permissions stocks_user_user_permiss_user_id_permission_id_d195e517_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user_user_permissions
    ADD CONSTRAINT stocks_user_user_permiss_user_id_permission_id_d195e517_uniq UNIQUE (user_id, permission_id);


--
-- Name: stocks_user_user_permissions stocks_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user_user_permissions
    ADD CONSTRAINT stocks_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: stocks_user stocks_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user
    ADD CONSTRAINT stocks_user_username_key UNIQUE (username);


--
-- Name: stocks_watchlist stocks_watchlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_watchlist
    ADD CONSTRAINT stocks_watchlist_pkey PRIMARY KEY (id);


--
-- Name: stocks_watchlist stocks_watchlist_user_id_stock_id_9c202fcd_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_watchlist
    ADD CONSTRAINT stocks_watchlist_user_id_stock_id_9c202fcd_uniq UNIQUE (user_id, stock_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: stocks_stock_symbol_e2aab713_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_stock_symbol_e2aab713_like ON public.stocks_stock USING btree (symbol varchar_pattern_ops);


--
-- Name: stocks_topsector_name_1e33bcc0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_topsector_name_1e33bcc0_like ON public.stocks_topsector USING btree (name varchar_pattern_ops);


--
-- Name: stocks_user_email_cbc55fec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_user_email_cbc55fec_like ON public.stocks_user USING btree (email varchar_pattern_ops);


--
-- Name: stocks_user_groups_group_id_a928272c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_user_groups_group_id_a928272c ON public.stocks_user_groups USING btree (group_id);


--
-- Name: stocks_user_groups_user_id_216c79b7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_user_groups_user_id_216c79b7 ON public.stocks_user_groups USING btree (user_id);


--
-- Name: stocks_user_user_permissions_permission_id_db55947d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_user_user_permissions_permission_id_db55947d ON public.stocks_user_user_permissions USING btree (permission_id);


--
-- Name: stocks_user_user_permissions_user_id_6008e2cf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_user_user_permissions_user_id_6008e2cf ON public.stocks_user_user_permissions USING btree (user_id);


--
-- Name: stocks_user_username_bc02798b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_user_username_bc02798b_like ON public.stocks_user USING btree (username varchar_pattern_ops);


--
-- Name: stocks_watchlist_stock_id_f69db3d2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_watchlist_stock_id_f69db3d2 ON public.stocks_watchlist USING btree (stock_id);


--
-- Name: stocks_watchlist_user_id_bc4a42b2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_watchlist_user_id_bc4a42b2 ON public.stocks_watchlist USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_stocks_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_stocks_user_id FOREIGN KEY (user_id) REFERENCES public.stocks_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stocks_user_groups stocks_user_groups_group_id_a928272c_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user_groups
    ADD CONSTRAINT stocks_user_groups_group_id_a928272c_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stocks_user_groups stocks_user_groups_user_id_216c79b7_fk_stocks_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user_groups
    ADD CONSTRAINT stocks_user_groups_user_id_216c79b7_fk_stocks_user_id FOREIGN KEY (user_id) REFERENCES public.stocks_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stocks_user_user_permissions stocks_user_user_per_permission_id_db55947d_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user_user_permissions
    ADD CONSTRAINT stocks_user_user_per_permission_id_db55947d_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stocks_user_user_permissions stocks_user_user_permissions_user_id_6008e2cf_fk_stocks_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_user_user_permissions
    ADD CONSTRAINT stocks_user_user_permissions_user_id_6008e2cf_fk_stocks_user_id FOREIGN KEY (user_id) REFERENCES public.stocks_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stocks_watchlist stocks_watchlist_stock_id_f69db3d2_fk_stocks_stock_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_watchlist
    ADD CONSTRAINT stocks_watchlist_stock_id_f69db3d2_fk_stocks_stock_id FOREIGN KEY (stock_id) REFERENCES public.stocks_stock(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stocks_watchlist stocks_watchlist_user_id_bc4a42b2_fk_stocks_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_watchlist
    ADD CONSTRAINT stocks_watchlist_user_id_bc4a42b2_fk_stocks_user_id FOREIGN KEY (user_id) REFERENCES public.stocks_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

